/* Extra small */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(245deg, #39B4E7 -15%, #0096DC 110%);
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 5px;
    height: 75px;
    padding: 10px;
    width: 100%;
    font-family: sans-serif;
}

.research-section {
    position: relative;
    width: 100%;
}

.navbar-form {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 5px;
    border-radius: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
}

.navbar input {
    border-radius: 15px;
    outline: none;
    border: none;
    height: 100%;
    font-size: 18px;
    padding: 20px 5px 20px 20px;
    width: 100%;
}

/* TODO : Ajouter une ombre quand on hover ou focus l'input (voir page google.com)*/
/*.navbar input:hover, .navbar input:focus {*/
/*    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 5px;*/
/*}*/

.navbar button {
    align-self: center;
    height: 60px;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.navbar img {
    border-radius: 50px;
    width: 60px;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 4px 2px 5px;
}

.animation-in {
    animation: bg-in 70ms linear;
    box-shadow: rgba(0, 0, 0, 0.15) 4px 2px 5px;
    animation-fill-mode: forwards;
}

.animation-out {
    animation: bg-out 70ms linear;
    box-shadow: none;
    animation-fill-mode: forwards;
}

@keyframes bg-out {
    from {background-color: rgba(255, 255, 255, 1.0);}
    to {background-color: rgba(255, 255, 255, 0.0);}
}
@keyframes bg-in {
    from {background-color: rgba(255, 255, 255, 0.0);}
    to {background-color: rgba(255, 255, 255, 1.0);}
}

.navbar h1 {
    display: none;
}

#suggestions {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 5px;
    border-radius: 0 0 15px 15px;
    padding: 0 10px 10px 10px;
    width: 100%;
    border: none;
    border-top: solid 1px lightgray;
}

#suggestions p {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#suggestions p:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#hamburger {
    fill: white;
    width: 45px;
    height: 45px;
}

#hamburgerSvg, #crossSvg {
    transition: 150ms;
}

.spin-fade {
    transform-origin: center;
    transform: rotate(90deg);
    opacity: 0;
}

#results {
    font-family: sans-serif;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#results-count {
    font-family: sans-serif;
    opacity: 50%;
    margin: 0 15px 0 15px;
}

/*TODO : Faire des beaux panneaux expansibles*/
.result-element {
    box-shadow: rgba(0, 0, 0, 0.10) 2px 2px 8px;
    background-color: rgba(250, 250, 250, 0.5);
    border-radius: 3px;
    margin: 0 5px 5px 5px;
    padding: 5px 10px 10px 10px;
    transform: translateX(100px);
}

.fade-in {
    animation: fade-in 250ms linear;
    transition: 250ms;
    transform: translateX(0px);
    animation-fill-mode: forwards;
}
@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 100% }
}

/*TODO : Faire une belle erreur*/
.error {
    color: red;
}

.loader {
    display: none;
    width: 150px;
    height: 150px;
    align-self: center;
    justify-self: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.loader svg {
    width: 90%;
    fill: none;
}

.load {
    transform-origin: 50% 50%;
    stroke-dasharray: 570;
    stroke-width: 20px;
}
.load.one {
    stroke: #034E6E;
    animation: load 1.5s infinite;
}
.load.two {
    stroke: #1779A3;
    animation: load 1.5s infinite;
    animation-delay: 0.1s;
}
.load.three {
    stroke: #39B4E7;
    animation: load 1.5s infinite;
    animation-delay: 0.2s;
}

.point {
    animation: bounce 1s infinite ease-in-out;
}
.point.one {
    fill: #39B4E7;
    animation-delay: 0s;
}
.point.two {
    fill: #1779A3;
    animation-delay: 0.1s;
}
.point.three {
    fill: #034E6E;
    animation-delay: 0.2s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
@keyframes load {
    0% {
        stroke-dashoffset: 570;
    }
    50% {
        stroke-dashoffset: 530;
    }
    100% {
        stroke-dashoffset: 570;
        transform: rotate(360deg);
    }
}

/* Small  */
@media (min-width: 576px) {

}

/* Medium */
@media (min-width: 768px) {

}

/* Large */
@media (min-width: 992px) {

}

/* Extra large  */
@media (min-width: 1200px) {

}