@font-face {
    font-family: 'Cookie';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(assets/fonts/Cookie.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Extra small */

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FDFDFD;
}

header {
    height: 75px;
}

.navbar {
    position: relative;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(245deg, #39B4E7 -15%, #0096DC 110%);
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 5px;
    height: 100%;
    padding: 10px;
    width: 100%;
}

.research-section {
    position: relative;
    width: 100%;
}

.navbar-form {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 5px;
    border-radius: 15px;
    height: 40px;
    max-width: 500px;
    display: flex;
    align-items: center;
    background-color: white;
}

.navbar input {
    border-radius: 15px;
    outline: none;
    border: none;
    height: 100%;
    font-size: 18px;
    padding: 20px 5px 20px 20px;
    width: 100%;
}

.navbar button {
    align-self: center;
    height: 60px;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.navbar img {
    border-radius: 50px;
    width: 60px;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 4px 2px 5px;
}

.animation-in {
    animation: bg-in 70ms linear;
    box-shadow: rgba(0, 0, 0, 0.15) 4px 2px 5px;
    animation-fill-mode: forwards;
}

.animation-out {
    animation: bg-out 70ms linear;
    box-shadow: none;
    animation-fill-mode: forwards;
}

@keyframes bg-out {
    from {background-color: rgba(255, 255, 255, 1.0);}
    to {background-color: rgba(255, 255, 255, 0.0);}
}
@keyframes bg-in {
    from {background-color: rgba(255, 255, 255, 0.0);}
    to {background-color: rgba(255, 255, 255, 1.0);}
}

.navbar h1 {
    color: white;
    font-size: 42px;
    font-family: 'Cookie', cursive;
}

#suggestions {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 5px;
    border-radius: 0 0 15px 15px;
    padding: 0 10px 10px 10px;
    width: 100%;
    max-width: 500px;
    border: none;
    border-top: solid 1px lightgray;
}

#suggestions p {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#suggestions p:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#hamburger {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    fill: white;
    min-width: 30px;
    min-height: 30px;
}

#hamburgerSvg, #crossSvg {
    transition: 150ms;
}

.spin-fade {
    transform-origin: center;
    transform: rotate(90deg);
    opacity: 0;
}

#hamburger-menu {
    position: relative;
    z-index: 10;
    width: 100%;
    background: linear-gradient(245deg, #39B4E7 -15%, #1779A3 110%);
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 5px;
    top: 0;
    transform: translateY(-105%);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

#hamburger-menu h3 {
    color: white;
    padding: 0;
    margin: 0;
}

.filters {
    display: flex;
    gap: 5px;
    color: white;
    font-family: sans-serif;
}

.filters p {
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
    background-color: #39B4E7;
    cursor: pointer;
}

.filters p:hover {
    background-color: #6dc1e3;
}

.slide-in {
    animation: slide-in 200ms;
    animation-fill-mode: forwards;
}
.slide-out {
    animation: slide-out 200ms;
    animation-fill-mode: forwards;
}
@keyframes slide-in {
    from { transform: translateY(-105%) }
    to { transform: translateY(0) }
}
@keyframes slide-out {
    from { transform: translateY(0) }
    to { transform: translateY(-105%) }
}

.toggle-switch {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    background-color: white;
    width: 60px;
    height: 30px;
    border-radius: 25px;
    padding: 0 3px 0 3px;
}
.toggle-switch .slider {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 25px;
    height: 25px;
    border-radius: 25px;
}
.toggle {
    animation: toggle 200ms;
    animation-fill-mode: forwards;
}
.untoggle {
    animation: untoggle 200ms;
    animation-fill-mode: forwards;
}
@keyframes toggle {
    from {
        transform: translateX(0);
        opacity: 70%;
        background: gray;
    }
    to {
        transform: translateX(29px);
        opacity: 100%;
        background: #39B4E7;
    }
}
@keyframes untoggle {
    from {
        transform: translateX(29px);
        opacity: 100%;
        background: #39B4E7;
    }
    to {
        transform: translateX(0);
        opacity: 70%;
        background: gray;
    }
}

.chart-button {
    display: flex;
    align-items: center;
    fill: white;
    gap: 10px;
}

#results {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-x: hidden;
}

#results-count {
    opacity: 50%;
    margin: 0 15px 0 15px;
}

.result-element {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 2px 2px 15px;
    border-radius: 25px;
    margin: 0 5px 0 5px;
    padding: 5px 15px 5px 15px;
    transform: translateX(100px);
}

.result-element:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 15px;
}

.result-element-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.result-element h3 {
    overflow-wrap: break-word;
}

.result-element-header {
    display: flex;
    align-items: center;
}

.result-element-header button {
    background: none;
    border: none;
    margin-left: auto;
    cursor: pointer;
}

.result-element-header button svg {
    background: linear-gradient(245deg, rgba(57, 179, 231, 0.15) -15%, rgba(0, 149, 219, 0.15) 110%);
    border-radius: 3px;
    fill: #39B4E7;
    padding: 4px;
    transform: scale(1.5);
}

.result-element-header button:disabled {
    filter: grayscale(100);
}

.element-content {
    display: none;
}

.fade-in {
    animation: fade-in 250ms linear;
    transition: 250ms;
    transform: translateX(0px);
    animation-fill-mode: forwards;
}
.fade-out {
    animation: fade-out 250ms linear;
    transition: 250ms;
    transform: translateX(0px);
    animation-fill-mode: forwards;
}
@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 100% }
}
@keyframes fade-out {
    from { opacity: 100% }
    to { opacity: 0 }
}

#error {
    opacity: 0;
    display: flex;
    align-items: center;
    background-color: #FF6F6F;
    border: solid 3px #DE6161;
    border-radius: 5px;
    color: #302B2B;
    width: 90%;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    align-self: center;
}

#error-button {
    fill: #302B2B;
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.loader {
    display: none;
    width: 150px;
    height: 150px;
    align-self: center;
    justify-self: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.loader svg {
    width: 90%;
    fill: none;
}

.load {
    transform-origin: 50% 50%;
    stroke-dasharray: 570;
    stroke-width: 20px;
}
.load.one {
    stroke: #034E6E;
    animation: load 1.5s infinite;
}
.load.two {
    stroke: #1779A3;
    animation: load 1.5s infinite;
    animation-delay: 0.1s;
}
.load.three {
    stroke: #39B4E7;
    animation: load 1.5s infinite;
    animation-delay: 0.2s;
}

.point {
    animation: bounce 1s infinite ease-in-out;
}
.point.one {
    fill: #39B4E7;
    animation-delay: 0s;
}
.point.two {
    fill: #1779A3;
    animation-delay: 0.1s;
}
.point.three {
    fill: #034E6E;
    animation-delay: 0.2s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
@keyframes load {
    0% { stroke-dashoffset: 570 }
    50% { stroke-dashoffset: 530 }
    100% {
        stroke-dashoffset: 570;
        transform: rotate(360deg);
    }
}

.page-nav {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: none;
    gap: 10px;
    font-size: 18px;
    line-height: 0;
    margin: 0 auto 0 auto;
    padding: 0 15px 0 15px;
    border-radius: 20px;
    color: #1a5f7d;
    background: linear-gradient(245deg, rgba(57, 179, 231, 0.15) -15%, rgba(0, 149, 219, 0.15) 110%);
}

.page-nav div {
    display: flex;
    gap: 5px;
    max-width: 170px;
    overflow-x: hidden;
    cursor: pointer;
}

.page-nav p {
    cursor: pointer;
}

/* Small  */
@media (min-width: 576px) {

}

/* Medium */
@media (min-width: 768px) {
    .result-element {
        width: 768px;
        margin: auto;
    }
    #hamburger-menu {
        flex-direction: row;
    }
}

/* Large */
@media (min-width: 992px) {

}

/* Extra large  */
@media (min-width: 1200px) {

}